In [1]:
import pandas as pd
import matplotlib.pyplot as plt

from PIL import Image
from PIL.ExifTags import TAGS
from glob import glob
from skimage.io import imread

In [2]:
def extract_infos(path):
    
    infos = Image.open(path).getexif()
    
    for tagid in infos:
        if TAGS.get(tagid, tagid) == "DateTime":
            return infos.get(tagid)

In [3]:
folder_images_paths = "coletas/Dia 29-11-2022/images/*"

In [4]:
data = pd.DataFrame(
    [{
        "date": extract_infos(path), 
        "path": path
    } for path in glob(folder_images_paths)]
).sort_values("date")

In [5]:
data

                   date                                               path
68  2022:11:29 16:25:21  coletas/Dia 29-11-2022/images/IMG_20221129_162...
69  2022:11:29 16:26:18  coletas/Dia 29-11-2022/images/IMG_20221129_162...
7   2022:11:29 16:27:07  coletas/Dia 29-11-2022/images/IMG_20221129_162...
46  2022:11:29 16:27:56  coletas/Dia 29-11-2022/images/IMG_20221129_162...
38  2022:11:29 16:28:50  coletas/Dia 29-11-2022/images/IMG_20221129_162...
..                  ...                                                ...
19  2022:11:29 17:51:53  coletas/Dia 29-11-2022/images/IMG_20221129_175...
9   2022:11:29 17:52:33  coletas/Dia 29-11-2022/images/IMG_20221129_175...
8   2022:11:29 17:53:37  coletas/Dia 29-11-2022/images/IMG_20221129_175...
53  2022:11:29 17:54:18  coletas/Dia 29-11-2022/images/IMG_20221129_175...
77  2022:11:29 17:54:52  coletas/Dia 29-11-2022/images/IMG_20221129_175...

[79 rows x 2 columns]

In [7]:
data

                   date                                               path
68  2022:11:29 16:25:21  coletas/Dia 29-11-2022/images/IMG_20221129_162...
69  2022:11:29 16:26:18  coletas/Dia 29-11-2022/images/IMG_20221129_162...
7   2022:11:29 16:27:07  coletas/Dia 29-11-2022/images/IMG_20221129_162...
46  2022:11:29 16:27:56  coletas/Dia 29-11-2022/images/IMG_20221129_162...
38  2022:11:29 16:28:50  coletas/Dia 29-11-2022/images/IMG_20221129_162...
..                  ...                                                ...
19  2022:11:29 17:51:53  coletas/Dia 29-11-2022/images/IMG_20221129_175...
9   2022:11:29 17:52:33  coletas/Dia 29-11-2022/images/IMG_20221129_175...
8   2022:11:29 17:53:37  coletas/Dia 29-11-2022/images/IMG_20221129_175...
53  2022:11:29 17:54:18  coletas/Dia 29-11-2022/images/IMG_20221129_175...
77  2022:11:29 17:54:52  coletas/Dia 29-11-2022/images/IMG_20221129_175...

[79 rows x 2 columns]

In [8]:
for path in data.path.values:
    
    print(path.split("/")[-1])
    
    # plt.figure(figsize=(5, 5))
    # plt.imshow(imread(path)[::10, ::10])
    # plt.show()

IMG_20221129_162521.jpg
IMG_20221129_162618.jpg
IMG_20221129_162707.jpg
IMG_20221129_162756.jpg
IMG_20221129_162850.jpg
IMG_20221129_163018.jpg
IMG_20221129_163058.jpg
IMG_20221129_163208.jpg
IMG_20221129_163517.jpg
IMG_20221129_163737.jpg
IMG_20221129_163936.jpg
IMG_20221129_164020.jpg
IMG_20221129_164056.jpg
IMG_20221129_164141.jpg
IMG_20221129_164252.jpg
IMG_20221129_164339.jpg
IMG_20221129_164733.jpg
IMG_20221129_164858.jpg
IMG_20221129_165024.jpg
IMG_20221129_165542.jpg
IMG_20221129_165628.jpg
IMG_20221129_165725.jpg
IMG_20221129_165832.jpg
IMG_20221129_165914.jpg
IMG_20221129_170025.jpg
IMG_20221129_170106.jpg
IMG_20221129_170154.jpg
IMG_20221129_170324.jpg
IMG_20221129_170417.jpg
IMG_20221129_170514.jpg
IMG_20221129_170728.jpg
IMG_20221129_170801.jpg
IMG_20221129_170922.jpg
IMG_20221129_171015.jpg
IMG_20221129_171129.jpg
IMG_20221129_171216.jpg
IMG_20221129_171337.jpg
IMG_20221129_171455.jpg
IMG_20221129_171558.jpg
IMG_20221129_171642.jpg
IMG_20221129_171722.jpg
IMG_20221129_171839.jpg
IMG_20221129_171959.jpg
IMG_20221129_172043.jpg
IMG_20221129_172144.jpg
IMG_20221129_172234.jpg
IMG_20221129_172343.jpg
IMG_20221129_172609.jpg
IMG_20221129_172745.jpg
IMG_20221129_172818.jpg
IMG_20221129_172901.jpg
IMG_20221129_172938.jpg
IMG_20221129_173019.jpg
IMG_20221129_173114.jpg
IMG_20221129_173201.jpg
IMG_20221129_173257.jpg
IMG_20221129_173339.jpg
IMG_20221129_173440.jpg
IMG_20221129_173525.jpg
IMG_20221129_173740.jpg
IMG_20221129_173805.jpg
IMG_20221129_173852.jpg
IMG_20221129_173941.jpg
IMG_20221129_174032.jpg
IMG_20221129_174135.jpg
IMG_20221129_174301.jpg
IMG_20221129_174349.jpg
IMG_20221129_174426.jpg
IMG_20221129_174531.jpg
IMG_20221129_174609.jpg
IMG_20221129_174705.jpg
IMG_20221129_174819.jpg
IMG_20221129_174950.jpg
IMG_20221129_175055.jpg
IMG_20221129_175153.jpg
IMG_20221129_175233.jpg
IMG_20221129_175337.jpg
IMG_20221129_175418.jpg
IMG_20221129_175452.jpg